# Global ignores for the Harambee DAO monorepo

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Node / JS
node_modules/
.npmrc
.pnpm-debug.log*

# Next.js
.next/
out/

# Build artifacts
build/
dist/
coverage/

# Env files
.env*
!.env.example

# IDEs / Editors
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb

# Vercel
.vercel
